pipeline/SetActivityExercise.json
{
	"name": "SetActivityExercise",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_hour",
					"value": {
						"value": "@string(formatDateTime(addhours(utcNow(),10),'HH'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.cn",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.fold",
								"type": "Expression"
							},
							"fn": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.cn",
								"type": "Expression"
							},
							"folder": {
								"value": "outout2",
								"type": "Expression"
							},
							"fn": {
								"value": "@concat(variables('current_hour'),pipeline().parameters.filename)",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"cn": {
				"type": "string",
				"defaultValue": "data"
			},
			"fold": {
				"type": "string",
				"defaultValue": "output"
			},
			"filename": {
				"type": "string",
				"defaultValue": "products.csv"
			}
		},
		"variables": {
			"current_hour": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-23T11:26:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}